@model IEnumerable<DoAnWeb.Models.tblDonHang>

@{
    ViewBag.Title = "Donhang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;margin-bottom:34px">Quản Lý Đơn Hàng</h2>

<table class="table">
    <tr>
        <th style="border:1px solid;font-size: 15px;text-align: center;">
            Ngày Lập
        </th>
        <th style="border:1px solid;font-size: 15px;text-align: center;">
            Ngày Giao
        </th>
        <th style="border:1px solid;font-size: 15px;text-align: center;">
            Đã Thanh Toán
        </th>
        <th style="border:1px solid;font-size: 15px;text-align: center;">
            Tình trạng giao hàng
        </th>
        @*<th style="border:1px solid;font-size: 15px;text-align: center;">
                @Html.DisplayNameFor(model => model.Username)
            </th>*@
        <th style="border:1px solid;font-size: 15px;text-align: center;">
            Chức năng
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="border:1px solid;text-align:center">
                @Html.DisplayFor(modelItem => item.NgayLap)
            </td>
            <td style="border:1px solid;text-align:center">
                @Html.DisplayFor(modelItem => item.NgayGiao)
            </td>
            <td style="border:1px solid;text-align:center">
                @Html.DisplayFor(modelItem => item.Dathanhtoan)
            </td>
            <td style="border:1px solid;text-align:center">
                @Html.DisplayFor(modelItem => item.TinhTrangGiaoHang)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>*@
            <td style="border:1px solid;text-align:center">
                @Html.ActionLink("Xóa", "Xoadonhang", new { id = item.MaDH })
            </td>
        </tr>
    }

</table>
<p style="background-color:orange;border-radius:5px;font-size:17px;text-align:center;margin-left:45%;width:7%">
    @Html.ActionLink("Thêm Mới", "Themdonhang", null, new { @class = "colortext" })
    <style>
        a.colortext {
            text-decoration: none
        }
    </style>
</p>
