@using DoAnWeb.Models
@using PagedList.Mvc;
@model PagedList.PagedList<DoAnWeb.Models.tblSanPham>

@helper Truncate(string input, int length)
{
    if(input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2> QUẢN LÝ THÔNG TIN SẢN PHẨM </h2>

<p>
    @Html.ActionLink("Tạo mới", "ThemmoiSP")
</p>
<table class="table" border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GiaTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NgayCapNhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().HinhAnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MaNCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MaTH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MaLoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayCapNhat)
        </td>
        <td>
            <img class="product__panel-img" src="@Url.Content("~/Content/HinhSanPham/"+ item.HinhAnh)" style="width:60%" />
        </td>
        <td>
            @Truncate(item.MoTa, 100)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblNhaCungCap.TenNCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblThuongHieu.TenTH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblLoaiSanPham.TenLoai)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.MaSP }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MaSP }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaSP })
        </td>
    </tr>
}
</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Game", new {page = page}))
</div>
<style>
    .MenuTrang li{
        display:inline;
    }
</style>
