@using DoAnWeb.Models
@using PagedList.Mvc;
@model PagedList.PagedList<DoAnWeb.Models.tblSanPham>

@helper Truncate(string input, int length)
{
    if(input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2> QUẢN LÝ THÔNG TIN SẢN PHẨM </h2>

<p>
    @Html.ActionLink("Thêm mới", "ThemmoiSP")
</p>
<table class="table" border="1">
    <tr>
        <th style="width:200px"> Tên sách </th>
        <th style="width:100px"> Giá tiền </th>
        <th style="width:100px"> Số lượng </th>
        <th style="width:150px"> Ngày cập nhật </th>
        <th style="width:250px"> Hình ảnh </th>
        <th style="width:300px"> Mô tả </th>
        <th style="width:130px"> Tên nhà cung cấp </th>
        <th style="width:130px"> Tên thương hiệu </th>
        <th style="width:130px"> Tên loại </th>
        <th style="width:150px">  </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayCapNhat)
        </td>
        <td>
            <img class="product__panel-img" src="@Url.Content("~/Content/HinhSanPham/"+ item.HinhAnh)" style="width:75%" />
        </td>
        <td>
            @Truncate(item.MoTa, 100)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblNhaCungCap.TenNCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblThuongHieu.TenTH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblLoaiSanPham.TenLoai)
        </td>
        <td>
            @Html.ActionLink("Sửa", "SuaSP", new { id=item.MaSP }) |
            @Html.ActionLink("Chi tiết", "ChitietSP", new { id=item.MaSP }) |
            @Html.ActionLink("Xóa", "XoaSP", new { id=item.MaSP })
        </td>
    </tr>
}
</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Game", new {page = page}))
</div>
<style>
    .MenuTrang li{
        display:inline;
    }
</style>
