@model DoAnWeb.Models.tblSanPham

@{
    ViewBag.Title = "SuaSP";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Chỉnh Sửa Thông Tin Sản Phẩm</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="width:60%;margin-left:27.8%">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaSP)

        <div class="form-group">
            @Html.LabelFor(model => model.MaSP, new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:42%">
                <div style="font:20px; padding:5px 0 0 5px" > @Model.MaSP </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenSP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:42%">
                @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiaTien, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:42%">
                @Html.EditorFor(model => model.GiaTien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiaTien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoLuong, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:42%">
                @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayCapNhat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:42%">Chọn ảnh mới
                <input type="file" name="fileUpload" />
                <img src="@Url.Content("~/Content/HinhSanPham/" + Model.HinhAnh)" width="450px" /> (Ảnh hiện tại)
                @*thong bao trung*@
                @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:42%">
                @Html.EditorFor(model => model.HinhAnh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa, new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:42%">
                <textarea name="Mota">@Model.MoTa</textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaNCC, new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:42%">
                @Html.DropDownList("MaNCC")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaTH, new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:42%">
                @Html.DropDownList("MaTH")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaLoai, new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:42%">
                @Html.DropDownList("MaLoai")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" style="width:18%;font-size:17px;margin-left:93px;border-radius:5px"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("TRỞ VỀ", "Game")
</div>
