@model DoAnWeb.Models.tblLoaiSanPham

@{
    ViewBag.Title = "Themloaisanpham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Thêm Loại Sản Phẩm</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="margin-left:20%">
            @Html.LabelFor(model => model.TenLoai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:40%">
                @Html.EditorFor(model => model.TenLoai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenLoai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-left:43.5%">
                <input type="submit" value="Thêm Mới" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div style="background-color: #ABBAC3; position: absolute; margin-left: 48.7%; top: 21%; width: 6%; height: 6%;">
    @Html.ActionLink("Trở Về", "Loaisanpham", null, new { @class = "textnone" })
    <style>
        a.textnone {
            font-size: 14px;
            color: white;
            margin-left: 33px;
            margin-top: 10px;
            position: absolute;
            text-decoration: none;
        }
    </style>
</div>
<img src="~/Content/ImageDetail/Loai1_admin.jpg" style="width:33%;margin-top:150px;padding:8px" />
<img src="~/Content/ImageDetail/Loai2_admin.jpg" style="width:33%;margin-top:150px;padding:8px"/>
<img src="~/Content/ImageDetail/Loai3.admin.jpg" style="width:33%;margin-top:150px;padding:8px"/>
