@model DoAnWeb.Models.tblKhacHang

@{
    ViewBag.Title = "Xoakhachhang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Xóa Khách Hàng</h2>

<h3 style="text-align:center">Bạn thực sự muốn xóa khách hàng này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên khách hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKH)
        </dd>

        <dt>
            Tài khoản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            Mật khẩu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Địa chỉ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            Số điện thoại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" style="margin-left:562px" /> |
            @Html.ActionLink("Trở Về", "Khachhang", null, new { @class = "textnone" })
            <style>
                a.textnone {
                    font-size: 14px;
                    color: white;
                    position: absolute;
                    text-decoration: none;
                    background-color: #ABBAC3;
                    height: 42px;
                    width: 64px;
                    text-align: center;
                    padding-top: 11px;
                    margin-left: 5px;
                }
            </style>
        </div>
    }
    <div class="delete-image">
        <img src="~/Content/images/delete.gif" style="width: 26%; margin-left: 36.6%;" />
    </div>
</div>
