
<style type="text/css">
    #Datmua a{
        clear:both;
        background-color: red;
        color: white;
        width:120px;
        height:35px;
        display: block;
        float: right;
        text-align: center;
        padding-top: 10px;
        text-decoration: none;
        font-weight: bold;
    }
    #Datmua a:hover{
        background-color:gray;
        color: red;
    }
    .bg-background {
        border: 1px solid gray;
        left: 662px;
        position: absolute;
        width: 45.2%;
        top: 177px;
        height: 63%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    #Datmua{
        position: relative;
        top: -50px;
        right: 19px;
    }
    #Datmua a{
        padding-top: 5px;
    }
</style>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
<div class="bg-background">
    <div class="img-detail">
        <img src="~/Content/HinhSanPham/@Model.HinhAnh" style="max-width:100%; height: 50%; top: 4px; left: 112px; position:relative;"/>
    </div>
    <div style="width:100%; float:left; padding:10px; border: 1px solid gray; margin-top: 36px; height: 45%; border-radius: 10px;">
        <h3 style="font-weight: bold; color:black; text-align:center; margin-bottom: 25px;">Chi Tiết</h3>
        <h4 style="font-weight:bold; color:red;">@Model.TenSP</h4>
        <p style="text-align:justify"><span style="font-weight:bold"> Mô tả: </span>@Model.MoTa</p>
        <p style="font-weight:bold"> Giá bán: <span style="color:red; font-size:16pt"> @Model.GiaTien VNĐ</span></p>
    </div>
    <div>
        <div id="Datmua">
            <a href="@Url.Action("ThemGioHang", "GioHang", new { @iMaSP = @Model.MaSP, @strURL=Request.Url.ToString() })" class="list-group-item">
                ĐẶT MUA
            </a>
        </div>
    </div>
</div>
<div class="space-down" style="margin-bottom: 650px;"></div>