
@{
    ViewBag.Title = "Tutorial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="column-row">
    <div class="banner1">
        <a href="#">
            <img src="https://game.haloshop.vn/image/cache/catalog/banners/game/home-banners/ps5-home-banner-1280x60.jpg" style="width: 100%; margin-top: 10px" />
        </a>
        <div class="tutorial-1">
            <a href="@Url.Action("Index", "Tutorial")"><img src="https://game.haloshop.vn/image/cache/catalog/banners/game/home-banners/sub/ps1-310x100.jpg" style="width: 24%; margin-top: 10px; margin-left: 16px;" /></a>
            <a href="@Url.Action("Tuto1", "Tutorial")"><img src="https://game.haloshop.vn/image/cache/catalog/banners/game/home-banners/sub/ps2-310x100.jpg" style="width: 24%; margin-top: 10px;" /></a>
            <a href="@Url.Action("Tuto2", "Tutorial")"><img src="https://game.haloshop.vn/image/cache/catalog/banners/game/home-banners/sub/ps5-310x100.jpg" style="width: 24%; margin-top: 10px;" /></a>
            <a href="@Url.Action("Tuto3", "Tutorial")"><img src="https://game.haloshop.vn/image/cache/catalog/banners/game/home-banners/sub/ps4-310x100.jpg" style="width: 24%; margin-top: 10px;" /></a>
        </div>
        <style>
            .tutorial-1 img {
                transition: transform .2s;
            }

                .tutorial-1 img:hover {
                    transform: scale(0.9);
                }
        </style>
    </div>
    <img src="https://mmosite.vn/wp-content/uploads/2020/10/videoplayback.webm_snapshot_01.39.996.jpg" style="width: 60%; margin-left: 20%; margin-top: 15px; border-radius: 10px;" />
    <div class="banner2">
        <a href="#">
            <img src="https://game.haloshop.vn/image/cache/catalog/banners/game/home-banners/nintendo-home-banner-1280x60.jpg" style="width: 100%; margin-top: 26px;" />
        </a>
        <div class="tutorial-2">
            <a href="@Url.Action("Tuto4", "Tutorial")"><img src="https://game.haloshop.vn/image/cache/catalog/banners/game/home-banners/sub/nintendo1-310x100.jpg" style="width: 24%; margin-top: 10px; margin-left: 16px;" /></a>
            <a href="@Url.Action("Tuto5", "Tutorial")"><img src="https://game.haloshop.vn/image/cache/catalog/banners/game/home-banners/sub/nintendo2-310x100.jpg" style="width: 24%; margin-top: 10px;" /></a>
            <a href="@Url.Action("Tuto6", "Tutorial")"><img src="https://game.haloshop.vn/image/cache/catalog/banners/game/home-banners/sub/nintendo3-310x100.jpg" style="width: 24%; margin-top: 10px;" /></a>
            <a href="@Url.Action("Tuto7", "Tutorial")"><img src="https://game.haloshop.vn/image/cache/catalog/banners/game/home-banners/sub/nintendo4-310x100.jpg" style="width: 24%; margin-top: 10px;" /></a>
        </div>
        <style>
            .tutorial-2 img {
                transition: transform .2s;
            }

                .tutorial-2 img:hover {
                    transform: scale(0.9);
                }
        </style>
    </div>
    <img src="https://images.indianexpress.com/2020/01/Dell-Concept-UFO-FB-1.jpg" style="width: 60%; margin-left: 20%; margin-top: 15px; border-radius: 10px;" />
    <div class="banner3">
        <a href="#">
            <img src="https://game.haloshop.vn/image/cache/catalog/banners/game/home-banners/xbox-home-banner-1280x60.jpg" style=" width: 100%; margin-top: 26px;" />
        </a>
        <div class="tutorial-3">
            <a href="#"><img src="https://game.haloshop.vn/image/cache/catalog/banners/game/home-banners/sub/xbox1-310x100.jpg" style="width: 24%; margin-top: 10px; margin-left: 16px;" /></a>
            <a href="#"><img src="https://game.haloshop.vn/image/cache/catalog/banners/game/home-banners/sub/xbox2-310x100.jpg" style="width: 24%; margin-top: 10px;" /></a>
            <a href="#"><img src="https://game.haloshop.vn/image/cache/catalog/banners/game/home-banners/sub/xbox3-310x100.jpg" style="width: 24%; margin-top: 10px;" /></a>
            <a href="#"><img src="https://game.haloshop.vn/image/cache/catalog/banners/game/home-banners/sub/xbox4-310x100.jpg" style="width: 24%; margin-top: 10px;" /></a>
        </div>
        <style>
            .tutorial-3 img {
                transition: transform .2s;
            }

                .tutorial-3 img:hover {
                    transform: scale(0.9);
                }
        </style>
    </div>
    <img src="https://cdn.oneesports.gg/cdn-data/wp-content/uploads/sites/4/2020/04/xbox-one-x-cyberpunk-2077-3.jpg" style="width: 60%; margin-left: 20%; margin-top: 15px; border-radius: 10px;" />
</div>